@rendermode InteractiveServer
<h2>Trees</h2>

<ul>
    @foreach (var tree in trees)
    {
        <li>
            <TreeDisplay tree="tree" />
            <input @bind="customCompliment" />
            <button @onclick="() => PostCompliment(tree.Id)">Post Compliment</button>
        </li>
    }

</ul>

@code {
    string customCompliment = "";

@using Complimentree.Models
    List<Tree> trees = new List<Tree>
    {new Tree{
        Id = 1, Name = "Harry Kane", Location = new Location{Latitude = 1,Longitude = 2}, Size = 25, Species = "Oak", Compliments = new List<Compliment>{new Compliment{Id =1, Text = "Test Nice Tree"}}
    },
    new Tree
    {
        Id = 2, Name = "Aurellio Gomez", Location = new Location{Latitude = 5,Longitude = 22}, Size = 25, Species = "Willow", Compliments = new List<Compliment>()
    },
    new Tree
    {
        Id = 3, Name = "Ian Rush", Location = new Location{Latitude = 9,Longitude = 12}, Size = 25, Species = "Birch", Compliments = new List<Compliment>()
    },
    new Tree
    {
        Id = 4, Name = "King Kenny", Location = new Location{Latitude = 100,Longitude = 253}, Size = 25, Species = "Monkey Tree", Compliments = new List<Compliment>()
    },
    new Tree
    {
        Id = 5, Name = "James", Location = new Location{Latitude = 19090,Longitude = 245}, Size = 25, Species = "Palm", Compliments = new List<Compliment>()
    }
    }; 

    // public void AddCompliment(Tree tree)
    // {
    //     Compliment newCompliment = Compliment.GetCompliment();
    //     tree.Compliments.Add(newCompliment);

    // }
    public void PostCompliment(int id)
    {
        var selectedTree = trees.FirstOrDefault(t => t.Id == id);
        if (!string.IsNullOrWhiteSpace(customCompliment))
        {
            Random rnd = new Random();
            int complimentId = rnd.Next(10000);
            selectedTree.Compliments.Add(new Compliment { Id = complimentId, Text = customCompliment });
        }
        else
        {
        Compliment newCompliment = Compliment.GetCompliment();
        selectedTree.Compliments.Add(newCompliment);
        }

        customCompliment = "";

    }
}
