<h1>Complimentree Website</h1>
<p>Be nice to your favourite trees</p>
<nav>
    <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./about.html">About</a></li>
     
    </ul>
</nav>
@code {

}
