<title>Intro</title>
<p> A website to send nice compliments to trees in order to cheer them up and improve their health</p>
<img src="https://images.unsplash.com/photo-1448375240586-882707db888b" alt="Happy Tree!" width="500"/>
@code {

}
